{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container" style="margin: auto; width: 90%; max-width: 400px;">
<h2>Create Challenge:</h2>
    <form action="" method="post" class="form" enctype="multipart/form-data" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.plain_text) }}
        {{ wtf.form_field(form.hash_type, onchange="hide_challenge_text(this)") }}
        {{ wtf.form_field(form.challenge_text) }}
        {{ wtf.form_field(form.hint) }}
        {{ wtf.form_field(form.hint_points) }}
        {{ wtf.form_field(form.points) }}
        {{ wtf.form_field(form.notes) }}
        {{ wtf.form_field(form.active) }}
        {{ wtf.form_field(form.case_sensitive) }}
        {{ wtf.form_field(form.fuzzy_answer) }}
        {{ wtf.form_field(form.attachment) }}
        {{ wtf.form_field(form.submit) }}
    </form>
    <script> function hide_challenge_text() {
        var selectBox = document.getElementById("hash_type");
        var selected = selectBox.options[selectBox.selectedIndex].value;
        if(selected === 'custom'){
            $('label[for="challenge_text"]').show();
            $("#challenge_text").show();
        }
        else{
            $('label[for="challenge_text"]').hide();
            $("#challenge_text").hide();
        }
    }</script>
</div>
{% endblock %}