{% extends 'base.html' %}

{% block content %}
<div class="container">
<table class="table table-responsive table-fill">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Plain Text</th>
        <th class="text-center">Challenge Text</th>
        <th class="text-center">Notes</th>
        <th class="text-center">Attachment</th>
        <th class="text-center">Points</th>
        <th class="text-center">Active</th>
    </tr>
    <tbody class="table-hover">
    {% for challenge in challenges %}
    <tr>
        <td class="text-center"><a href="{{ url_for('admin.modify_challenge', challenge_id=challenge.id) }}"> {{ loop.index }}</a></td>
        <td class="text-center">{{ challenge.plain_text }}</td>
        <td class="text-center">{{ challenge.challenge_text }}</td>
        <td class="text-center">{{ challenge.notes }}</td>
        {% if challenge.attachment_path %}
        <td class="text-center"><a href="{{ url_for('static', filename='attachments/' + challenge.attachment_path) }}">{{ challenge.attachment_path }}</a></td>
        {% else %}
        <td class="text-center">None</td>
        {% endif %}
        <td class="text-center">{{ challenge.points }}</td>
        <td class="text-center">{{ challenge.active }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}